
.body-background {
  padding-top: 70px;
  background-color: #f7f7f7;
}

.nav-background {
  background-color: #efefef;
}

.img-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.jumbotrom-banner {
  background-image: url(https://storage.googleapis.com/davo-res-public/research/images/banner.png);
}